body{ 
	font-family:Arial, Helvetica, sans-serif; 
	border: 1px solid black;
}

#canvas {
	border: 1px dotted black;
}

#debug{
	border:1px solid black;
	width:800px;
	margin: 0;
	padding: 10px;
	margin-top: 80px;
}

#debug h1 { margin: 0; padding: 0; }

#log{
	height: 150px;
	margin-bottom: 20px;
	padding:5px;
	border:1px solid black;
	overflow: auto;	
}

#log p{margin:0;}
